<h2>Deleting developer</h2>

<h3>Are you sure you want to delete this developer?</h3>
<form method="POST" action="">
    <input type="hidden" id="developerid" name="_id" required="true", value="">
    <button type="submit">Delete</button>
</form>
