
<%= developer %>
<form method="POST" action=''>
    <label for="name">
        <input type="text" name="name" placeholder="Name" value="<%= locals.developer.name %>">
    </label>
    <button type="submit">Submit</button>
</form>
