<h3><%= locals.message %></h3>
<div class="flex-column dark-box">
    <form method="POST" action='' class="flex-column padding-2">
        <label for="name">
            Name*
        </label>
            <input type="text" id="name" name="name" placeholder="Name" value="<%= undefined===locals.developer ? '' : developer.name %>">
        <button type="submit">Submit</button>
    </form>
</div>
