/* resets */
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

button {
    background-color: none;
    color: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: red;
}
:root {
    font-family: Open Sans, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

    --text-color-primary: #fff;
    --text-color-secondary: hsl(0, 15%, 75%);
    --primary-bg-color: hsl(0, 3%, 21%);
    --secondary-bg-color: hsl(0, 2%, 16%);
    --third-bg-color: hsl(0, 2%, 12%);
    --primary: 	#E6E6E6;
    /* --primary-active: 
    --primary-hover:  */
    --secondary: #484b4a;
    letter-spacing: 0.8px;
}

body {
    margin: 0;
    border: 0px solid transparent;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    background-color: var(--primary-bg-color);
    color: var(--text-color-primary);
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}
p {
    font-size: 1.2rem;
}

button {
    background-color: var(--secondary);
    border-radius: 10px;
    color: var(--primary);
    border: 1.5px solid #000;
    min-width: 10%;
    height: 10%;
    padding: 1rem 1rem;
    font-family: Open Sans, sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transition: background-color 400ms ease-in-out 0s;
    background-color: #525654;

}


a {
    text-decoration: none;
    color: var(--text-color-primary);
}

/* header styles */
header {
    background-color: var(--secondary-bg-color);
    border-bottom: 1.5px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.logo {
    position: absolute;
    left: 2rem;
}

/* navbar styles */
.navbar {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.navbar a {
    font-size: 1.5rem;
    
}

.navbar a:hover {
    transition: color 400ms ease 0s;
    color: hsl(0, 15%, 75%);
    border-bottom: 2px solid hsl(0, 15%, 75%);
}

.title-container {
    padding: 0.8rem 0;
}

/* body content styles */
.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.5rem 0rem;
}


/* game styles */

.dark-box {
    background-color: var(--secondary-bg-color);
    border: 1.5px solid black;
    border-radius: 10px;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
    row-gap: 2rem;
    padding: 3rem 2rem;
}

.game {
    background-color: hsl(0, 3%, 20%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

.game p {
    font-size: 1.5rem;
}

.game:hover {
    background-color: var(--secondary);
    transition: transform 500ms ease;
    transform: scale(1.1);
    
}

.game:not(:hover) {
    transition: transform 500ms ease;
    transform: scale(1.0);

}


.game img {
    width: 75%;
    align-self: center;
    filter: brightness(0.9);

}

.game h3 {
    /* code for handling text overflow */
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-weight: 500;
    font-size: 1rem;
    /* white-space: nowrap;  */
}

/* Game-detail styles */

.game-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 3rem;
    padding-bottom: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.game-detail h3 {
    font-size: 2.5rem;
}

.detail-img {
    background-color: var(--third-bg-color);
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;

}

.detail-img img {
    width: 50%;
}
.detail-container {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 8px;
    background-color: var(--secondary-bg-color);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}


.button-in-flex {
    display: inline-flex;
    align-items: center;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-5 {
    padding: 5rem;
}


.padding-tb1 {
    padding: 1rem 0;
}

.padding-tb2 {
    padding: 1.5rem 0;
}

.space-around {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;  
}

.text-size-1 {
    font-size: 2rem;  
}

.text-secondary-color {
    color: var(--text-color-secondary);
}

/* Form styles */

form {
    gap: 1rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #000;
    color: #fff;
    background-color: #393b3d;
}


input[type='checkbox']::before {
    content: "✔";
    font-size: 1rem;
    right: -1px;
    top: -0.3rem;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type='text'], input[type='number'], 
input[type='date'], select {
    border: 1.5px solid rgba(0,0,0, 0.7); 
    border-radius: 10px;  
    background-color: rgba(0,0,0, 0.4);
    color: #fff;
    height: 1.8rem;   
    padding: 0 0.5rem;
}




@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }

    h1, h2, h3 {
        font-size: 1.5rem;
    }
    h4, h5, h6 {
        font-size: 1.2rem;
    }

    .navbar a {
        font-size: 1.2rem;
    }

    .detail-container {
        border-left: 1.5px solid black;
    }
    .detail-container h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }
    button {
        font-size: 0.6rem;
    }
}