<h2>Deleting game</h2>

<form action="POST" action="">
    <h3>Are you sure you want to delete this game?</h3>
    <p> <%= game.title %></p>
    <p> $<%= game.price %></p>
    <button type="submit">Delete</button>
</form>
