<h2>Deleting genre</h2>

<h3>Are you sure you want to delete this genre?</h3>
<h4><%= genre.name %></h4> 
<form method="POST" action="">
    <input type="hidden" id="genreid" name="_id" required="true", value="">
    <button type="submit">Delete</button>
</form>
