<div class="title-container">
    <h2>Genre List</h2>
    <a href="/games/genre_form/create"><button>+ Add new genre</button></a>
</div>

<div class="content-container dark-box">
    <% for (let x = 0; x < genre.length; x++) { %>
        <h3><a href='<%= genre[x].url %>'><button class="red-button button-in-flex"><%= genre[x].name %> </button></a></h3>
    
    <% } %>
</div>
