<h3><%= locals.message %></h3>
<form method="POST" action=''>
    <label for="name">
        <input type="text" name="name" placeholder="Name" value="<%= undefined===locals.genre ? '' : genre.name %>">
        <input type="text" name="description" placeholder="Description" value="<%= undefined===locals.genre ? '' : genre.description %>">

    </label>
    <button type="submit">Submit</button>
</form>
