<div class="title-container">
    <h2>Genre List</h2>
    <a href="/games/genre_form/create"><button>+ Add new genre</button></a>
</div>

<% for (let x = 0; x < genre.length; x++) { %>
    <h3><a href='<%= genre[x].url %>'><%= genre[x].name %> </a></h3>

<% } %>
